/* Login/Registration page*/
.contactUs {
    height: 90vh;
    padding: 2rem;
}

/* Background image */
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -2;
}

/* Overlay for background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.form-group {
    margin: 1rem 0;
}

.form-container {
    width: 50%;
    margin: auto;
    padding: 2rem;
    /* glass morphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /*  */
}

.form-group label {
    font-weight: bold;
    color: white;
}

.underline {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #dc7900;
    /* border-radius: 11% 89% 88% 12% / 48% 25% 75% 52%; */
}
input{
    width: 100%;
    margin:auto;
}
/* textarea */
textarea {
    resize: none;
    margin:auto;
    border-radius: 10px;
    padding: 1rem;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .form-container{
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    form h3{
        font-size: 0.9rem;
    }
    input{
        width: 100%;
        font-size: 0.9rem;
    }
    textarea{
        font-size: 0.9rem;
        width: 100%;
    }
}