/*  */
.videoContainer {
    height: 100vh;
}

.destination {
    min-height: 100vh;
    padding: 2rem 8rem;
}

/* Background image */
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -2;
}

/* Overlay for background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* embedded video */
.embed-responsive {
    width: 100%;
    height: 100vh;
}

iframe {
    width: 100%;
    height: 100%;
}

/* Home page transition */
.videoTransition {
    position: absolute;
    top: 90vh;
    height: 20vh;
    width: 100%;
    /* Linear Gradient */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 13%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.75) 38%, rgba(255, 255, 255, 1) 55%);
    z-index: 10;
}

/* Content title and underline  - Explore Nepal*/
.title {
    margin: 2rem;
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Dancing Script', cursive;
}

.underline {
    width: 30%;
    margin: auto;
    height: 8px;
    /* background-color: rgb(252, 191, 70); */
    background-color: orangered;
    border-radius: 11% 89% 88% 12% / 48% 25% 75% 52%;
    z-index: -1;
}

/* cards */
.card {
    transition: 500ms all;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Modal */
.modal {
    background-color: red;
}

.modal-content {
    height: 100vh !important;
    width: 100% !important;
    background: none;
}

.modal-dialog {
    height: 100vh;
    background-color: red;
}
.modal-body{
    text-align: justify;
}