nav{
    background:none !important;
    z-index: 9999;
    animation-name: entryNavBar;
    animation-duration: 500ms;
}
@keyframes entryNavBar {
    0%{
        transform: translateY(-50%);
    }
}
.navbar-brand{
    margin-left: 30px;
}
.navbar-nav li{
    margin:0 60px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* Once scrolled */
/* transparent nav bar */
.transparentNav{
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 8px 32px 0 rgba(178, 178, 185, 0.2);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}
.scrolled {
    position: sticky;
    top: 0;
    animation-name: PopUp;
    animation-duration: 200ms;
}
/* navbar text color when at home */
.navbar-dark a{
    color: white !important;
}
/* navbar text color when scrolled down */
.navbar-light a{
    color: black !important;
}

@keyframes PopUp {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

.scrollUp {
    transform: translateY(-15px);
    transition: 200ms transform;
}
#navbarNav{
    position: relative;
}
/* navigation underline */
.navUnderline{
    position: absolute;
    height: 5px;
    background-color: #FFFF55;
    border-radius: 11% 89% 88% 12% / 48% 25% 75% 52%;
    animation-name:popUp;
    animation-duration: 500ms;
}
@keyframes popUp {
    0%{
        transform: scale(0.5);
    }
}
.destination{
    width:8%;
}
.festival{
    width:12%;
}
.travel{
    width:8%;
}