/* Login/Registration page*/
.loginReg {
    height: 100vh;
    padding: 10rem;
}

/* Background image */
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -2;
}

/* Overlay for background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}
/* Login/Registration form */
.form-group{
    margin:1rem 0;
}
.form-container {
    width: 50%;
    margin:auto;
    /* glass morphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    /*  */
    padding: 2rem;
}
form{
    padding-bottom:1rem;
    border-bottom:1px solid white;
}
.form-group label{
    font-weight: bold;
    color: white;
}
.underline {
    width: 100%;
    margin: auto;
    height: 5px;
    background-color: #dcdc00;
    border-radius: 11% 89% 88% 12% / 48% 25% 75% 52%;
}

/* login animation */
.authenticated{
    animation-name: goUp;
    animation-duration: 1s;
}
@keyframes goUp {
    0%{

    }
    100%{
        transform: translateY(-200%);
    }
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .loginReg{
        padding: 8rem;
    }
    .form-container{
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .form-container{
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .loginReg{
        padding: 5rem;
    }
    form h3{
        font-size: 1.2rem;
    }
    form input{
        font-size: 0.9rem;
    }
    .form-container{
        width: 100%;
        padding: 0;
    }
}
